  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --background: rgba(38, 39, 41, 0.75);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  background-color: var(--background);
}

header li {
  list-style: none;
  display: inline-block;
  padding-left: 4vw;
}

header li a:hover {
  color:aquamarine;
  transition: 0.5s ease-in-out;
}

header a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}


.hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 2vh;
  flex-direction: column;
  background-color: var(--background);
  width: 100%;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.nav-menu.active {
  left: 0;
  background-color: transparent;
  margin-top: -3.5vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 1em;
  gap: 2em;
}

.welcome-p {
  transition: ease-in-out 0.7s;
}

#hello-sign {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
  filter: none;
}

body {
  background-image: url(images/markus-spiske-MgtHZ4zlC1U-unsplash.jpg);
  color: rgb(32, 29, 29);
  font-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body h2 {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2.5em;
  color:rgba(141, 209, 193, 0.923);
  margin-bottom: 20px;
  border: 3px solid orange;
  border-radius: 90px 90px 37px 37px;
  padding: .5em;
  min-width: 75%;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

body h2:hover {
  background: linear-gradient(0deg,white, black, black, black, black, black, black, black, black, white);
}

body p {
  letter-spacing: .25em;
  background: linear-gradient(45deg, rgba(29, 91, 226, 0.9), rgba(234, 114, 114, 0.9));
  padding: 2em;
  border: 7px solid rgb(236, 234, 187);
  border-radius: 23px 57px 28px 90px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
  gap: 1em;
}

.about-me-photos {
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
overflow: hidden;
padding: 0;
margin: 0;
}

.about-me-p {
  transition: ease-in-out .7s;
}

.about-me img {
  width: 50%;
}

.about-site {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
  gap: 2em;
}

.about-site-p {
  transition: ease-in-out .7s;
}

.other-projects-p {
  transition: ease-in-out .7s;
}

.other-projects-p a {
  color: rgb(32, 29, 29);
  text-decoration: overline rgba(141, 209, 193, 0.923);
  transition: ease-in-out 400ms;
}

.other-projects-p a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid orange;
  border-radius: 37px 37px 90px 90px;
  color:rgba(141, 209, 193, 0.923);
  padding: .5em;
  text-decoration: none;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3%;
  aspect-ratio: 5/1;
}

.project-images a {
  justify-self: center;
  align-self: center;
  border: 2px solid black;
  height: 23vh;
  width: 23vw;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.project-images a img {
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.under-simp {
  opacity: 0;
  transition: .5s;
  text-decoration: none;
  color: rgba(86, 249, 165, 0.766);
}

.under-idea {
  opacity: 0;
  transition: .5s;
  text-decoration: none;
  color: rgba(86, 249, 165, 0.766);
}

.under-pmg {
  opacity: 0;
  transition: .5s;
  text-decoration: none;
  color: rgba(86, 249, 165, 0.766);
}

.under-alg {
  opacity: 0;
  transition: .5s;
  text-decoration: none;
  color: rgba(86, 249, 165, 0.766);
}

.contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    height: 100%;
    background-color: var(--background);
    padding-top: 3.5vh;
  }

  .other-projects-p a {
    text-decoration: none;
  }

  body h2 {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.5em;
    color:rgba(141, 209, 193, 0.923);
    margin-bottom: 20px;
    border: 3px solid orange;
    border-radius: 90px 90px 37px 37px;
    padding: .5em;
    min-width: 75%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
  }

  .under-simp {
    opacity: 1;
    text-decoration: none;
    color:rgba(86, 249, 165, 0.766);
  }
  
  .under-idea {
    opacity: 1;
    text-decoration: none;
    color:rgba(86, 249, 165, 0.766);;
  }
  
  .under-pmg {
    opacity: 1;
    text-decoration: none;
    color:rgba(86, 249, 165, 0.766);
  }
  
  .under-alg {
    opacity: 1;
    text-decoration: none;
    color:rgba(86, 249, 165, 0.766);
  }

  .project-images {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3%;
    gap: 2em;
  }
  
  .project-images a {
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    height: 30vh;
    width: 70vw;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  .project-images a img {
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
  }

  .contact {
    display: grid;
    grid-template-rows: 20vh 30vh;
    align-items: start;
  }
}