@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;700&display=swap');

:root {
  --background: rgba(38, 39, 41, 0.75);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.903);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  min-height: 5em;
  top: 0;
}

/* button {
  position: fixed;
  margin-left: auto;
  background: radial-gradient(closest-side, rgb(221, 91, 16), rgba(0, 0, 0, 0.903));
  border: none;
  border-radius: 100%;
} */
.logo {
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, rgba(213, 213, 213, 0.766), rgba(0, 206, 247, 0.75), rgba(252, 134, 0, 0.799), rgba(213, 213, 213, 0.766));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  margin-right: auto;
  margin-left: 1em;
  padding-bottom: .25em;
}

.nav-list  {
  list-style: none; 
  font-size: 1rem;
  display: flex;
  gap: 3em;
  justify-content: center;
  margin-right: 2em;
}

.nav-item {
  display: flex;
  color: white;
  margin: 3px;
  padding: 15px 2px;
  text-decoration: none;
  transition: ease-in-out 250ms;
}

.nav-item:hover {
  background: linear-gradient(45deg, rgba(42, 97, 216, 0.5), rgba(234, 68, 198, 0.5));
  border-radius: 23px 57px 28px 90px;
  border:3px solid rgb(236, 234, 187);
  font-size: 1.1rem;
  text-decoration: underline var(--background);
  padding: 1em;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 1em;
  gap: 2em;
}

.welcome-p {
  transition: ease-in-out 0.7s;
}

#hello-sign {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
  filter: none;
}

body {
  background-image: url(images/markus-spiske-MgtHZ4zlC1U-unsplash.jpg);
  color: rgb(32, 29, 29);
  font-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body h2 {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2.5em;
  color:rgba(141, 209, 193, 0.923);
  margin-bottom: 20px;
  border: 3px solid orange;
  border-radius: 90px 90px 37px 37px;
  padding: .5em;
  min-width: 75%;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

body h2:hover {
  background: linear-gradient(0deg,white, black, black, black, black, black, black, black, black, white);
}

body p {
  letter-spacing: .25em;
  background: linear-gradient(45deg, rgba(29, 91, 226, 0.9), rgba(234, 114, 114, 0.9));
  padding: 2em;
  border: 7px solid rgb(236, 234, 187);
  border-radius: 23px 57px 28px 90px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
  gap: 1em;
}

.about-me-photos {
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
overflow: hidden;
padding: 0;
margin: 0;
}

.about-me-p {
  transition: ease-in-out .7s;
}

.about-me img {
  width: 50%;
}

.about-site {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  padding: 1em;
  gap: 2em;
}

.about-site-p {
  transition: ease-in-out .7s;
}

.other-projects-p {
  transition: ease-in-out .7s;
}

.other-projects-p a {
  color: rgb(32, 29, 29);
  text-decoration: overline rgba(141, 209, 193, 0.923);
  transition: ease-in-out 400ms;
}

.other-projects-p a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid orange;
  border-radius: 37px 37px 90px 90px;
  color:rgba(141, 209, 193, 0.923);
  padding: .5em;
  text-decoration: none;
}

.project-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3%;
}

.project-images a {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid blue;
  height: 40vh;
  width: 40vh;
}
.project-images a img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
